div {
  height: 100%;
  width: 500px;
  border: 2px solid black;
  margin-left: 25rem;
  margin-top: 5rem;
  background-color: bisque;
}
li {
  /* list-style: none; */
}
button {
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  background-color: red;
  border: 2px solid red;
  border-radius: 10px;
}
.add {
  color: white;
  background-color: green;
  border: 2px solid green;
  border-radius: 10px;
}
h1 {
  border: 2px solid white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: red;
  color: white;
}
